In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.0
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
#install.packages('dslabs')

The downloaded binary packages are in
	/var/folders/4r/qr64vrt52z364sk5wv7jy3yr0000gq/T//RtmpjqwRlu/downloaded_packages

In [5]:
library(dslabs)

In [6]:
data(heights)

In [9]:
head(heights)

  sex    height
1 Male   75
2 Male   70
3 Male   68
4 Male   74
5 Male   61
6 Female 65

In [7]:
x <- heights %>% filter(sex == "Male") %>% .$height

In [12]:
x[1:10]

 [1] 75 70 68 74 61 67 72 72 69 68

In [13]:
F <- function(a) {
    mean(x <= a)
}

## Introducing probability

If I pick one of the male students at random, what is the change that he is taller than 70.5 inches

In [14]:
1 - F(70)

[1] 0.3768473

In [17]:
mean(x>70)

[1] 0.3768473

## The probability of a student being between the height `a` and the height `b` is simply F(b) - F(a)