In [1]:
# install.packages("rafalib")

In [2]:
library(dplyr)
library(plyr)
library(rafalib)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


------------------------------------------------------------------------------

You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)

------------------------------------------------------------------------------


Attaching package: ‘plyr’


The following objects are masked from ‘package:dplyr’:

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

# 1

In [3]:
dat <- read.csv('../dagdata/inst/extdata/mice_pheno.csv')
# dat <- read.csv('mice_pheno.csv')

In [4]:
head(dat)

  Sex Diet Bodyweight
1 F   hf   31.94
2 F   hf   32.48
3 F   hf   22.82
4 F   hf   19.92
5 F   hf   32.22
6 F   hf   27.50

In [5]:
dat <- na.omit( dat )

In [6]:
count(dat, vars='Diet')

  Diet freq
1 chow 448
2 hf   393

In [7]:
mean(filter(dat, Diet=='chow')$Bodyweight)

[1] 27.41281

In [8]:
nrow(dat)

[1] 841

In [36]:
# Answer from Edx
x <- filter(dat, Sex=="M" & Diet=="chow") %>% select(Bodyweight) %>% unlist
x_bar = mean(x)
x_bar

[1] 30.96381

# 2

In [19]:
popsd(x)

[1] 4.420501

In [35]:
set.seed(1)
X_bar = mean(sample(x, 25))
X_bar

[1] 30.5196

In [31]:
y <- filter(dat, Sex=="M" & Diet=="hf") %>% select(Bodyweight) %>% unlist

In [37]:
y_bar = mean(y)
y_bar

[1] 34.84793

In [33]:
popsd(y)

[1] 5.574609

In [39]:
set.seed(1)
Y_bar = mean(sample(y, 25))
Y_bar

[1] 35.8036

In [40]:
abs((y_bar - x_bar)-(Y_bar - X_bar))

[1] 1.399884

# 8

In [42]:
x <- filter(dat, Sex=="F" & Diet=="chow") %>% select(Bodyweight) %>% unlist
x_bar = mean(x)
y <- filter(dat, Sex=="F" & Diet=="hf") %>% select(Bodyweight) %>% unlist
y_bar = mean(y)
set.seed(2)
X_bar = mean(sample(x, 25))
set.seed(2)
Y_bar = mean(sample(y, 25))

In [43]:
abs((y_bar - x_bar)-(Y_bar - X_bar))

[1] 0.3647172

In [44]:
popsd(y)

[1] 5.06987

In [45]:
popsd(x)

[1] 3.416438