A restaurant manager wants to advertise that his lunch special offers enough choices to eat different meals every day of the year. He doesn't think his current special actually allows that number of choices, but wants to change his special if needed to allow at least 365 choices.

A meal at the restaurant includes 1 entree, 2 sides, and 1 drink. He currently offers a choice of 1 entree from a list of 6 options, a choice of 2 different sides from a list of 6 options, and a choice of 1 drink from a list of 2 options.

## Question 2a
How many meal combinations are possible with the current menu?

In [2]:
library(gtools)

In [6]:
entree <- permutations(6,1)

In [7]:
sides <- permutations(6,2)

In [8]:
drink <- permutations(2,1)

In [12]:
total_meals = expand.grid(entree=entree, sides=sides, drink=drink)

In [14]:
nrow(total_meals)

[1] 720

### Answer

In [17]:
nrow(combinations(6,1)) * nrow(combinations(6,2)) * nrow(combinations(2,1))

[1] 180

## Question 2b
The manager has one additional drink he could add to the special.

How many combinations are possible if he expands his original special to 3 drink options?

In [18]:
nrow(combinations(6,1)) * nrow(combinations(6,2)) * nrow(combinations(3,1))

[1] 270

## Question 2c
The manager decides to add the third drink but needs to expand the number of options. The manager would prefer not to change his menu further and wants to know if he can meet his goal by letting customers choose more sides.

How many meal combinations are there if customers can choose from 6 entrees, 3 drinks, and select 3 sides from the current 6 options?

In [19]:
nrow(combinations(6,1)) * nrow(combinations(6,3)) * nrow(combinations(3,1))

[1] 360

## Question 2d
The manager is concerned that customers may not want 3 sides with their meal. He is willing to increase the number of entree choices instead, but if he adds too many expensive options it could eat into profits. He wants to know how many entree choices he would have to offer in order to meet his goal.

- Write a function that takes a number of entree choices and returns the number of meal combinations possible given that number of entree options, 3 drink choices, and a selection of 2 sides from 6 options.

- Use `sapply()` to apply the function to entree option counts ranging from 1 to 12.

What is the minimum number of entree options required in order to generate more than 365 combinations?

In [36]:
#install.packages('tidyverse')

In [37]:
library(tidyverse)

In [40]:
meals <- function(entree_no) {
    nrow(combinations(entree_no,1)) * nrow(combinations(6,2)) * nrow(combinations(3,1))
}

In [42]:
combos <- sapply(1:12, meals)

In [44]:
df <- data.frame(entrees=1:12, combos=combos)
df

   entrees combos
1   1       45
2   2       90
3   3      135
4   4      180
5   5      225
6   6      270
7   7      315
8   8      360
9   9      405
10 10      450
11 11      495
12 12      540

In [45]:
df %>% filter(combos > 365)

  entrees combos
1  9      405
2 10      450
3 11      495
4 12      540

In [46]:
df %>% filter(combos > 365) %>% min(.$entrees)

[1] 9

## Question 2e
The manager isn't sure he can afford to put that many entree choices on the lunch menu and thinks it would be cheaper for him to expand the number of sides. He wants to know how many sides he would have to offer to meet his goal of at least 365 combinations.

- Write a function that takes a number of side choices and returns the number of meal combinations possible given 6 entree choices, 3 drink choices, and a selection of 2 sides from the specified number of side choices.

- Use `sapply()` to apply the function to side counts ranging from 2 to 12.

What is the minimum number of side options required in order to generate more than 365 combinations?

In [48]:
library(tidyverse)

In [53]:
combo_gen <- function(sides_selection) {
    nrow(combinations(6, 1))*nrow(combinations(3, 1))*nrow(combinations(sides_selection, 2))
}

In [55]:
combos <- sapply(2:12, combo_gen)
combos

 [1]   18   54  108  180  270  378  504  648  810  990 1188

In [57]:
df <- data.frame(sides_offer=2:12, combos=combos)
head(df)

  sides_offer combos
1 2            18
2 3            54
3 4           108
4 5           180
5 6           270
6 7           378

In [58]:
df %>% filter(combos >365)

  sides_offer combos
1  7           378
2  8           504
3  9           648
4 10           810
5 11           990
6 12          1188

In [59]:
df %>% filter(combos >365) %>% min(.$sides_offer)

[1] 7