Case-control studies help determine whether certain exposures are associated with outcomes such as developing cancer. The built-in dataset esoph contains data from a case-control study in France comparing people with esophageal cancer (cases, counted in ncases) to people without esophageal cancer (controls, counted in ncontrols) that are carefully matched on a variety of demographic and medical characteristics. The study compares alcohol intake in grams per day (alcgp) and tobacco intake in grams per day (tobgp) across cases and controls grouped by age range (agegp).

The dataset is available in base R and can be called with the variable name esoph:

`head(esoph)` <br>
You will be using this dataset to answer the following four multi-part questions (Questions 3-6).

You may wish to use the tidyverse package:

`library(tidyverse)` <br>
The following three parts have you explore some basic characteristics of the dataset.

Each row contains one group of the experiment. Each group has a different combination of age, alcohol consumption, and tobacco consumption. The number of cancer cases and number of controls (individuals without cancer) are reported for each group.

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.0
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Question 3a
How many groups are in the study?

In [3]:
head(esoph)

  agegp alcgp     tobgp    ncases ncontrols
1 25-34 0-39g/day 0-9g/day 0      40
2 25-34 0-39g/day 10-19    0      10
3 25-34 0-39g/day 20-29    0       6
4 25-34 0-39g/day 30+      0       5
5 25-34 40-79     0-9g/day 0      27
6 25-34 40-79     10-19    0       7

In [4]:
nrow(esoph)

[1] 88

## Question 3b
<b>How many cases are there? </b><br>
Save this value as `all_cases` for later problems.

In [7]:
all_cases <- sum(esoph$ncases)
all_cases

[1] 200

## Question 3c
<b>How many controls are there?</b> <br>
Save this value as `all_controls` for later problems.

In [10]:
all_controls <- sum(esoph$ncontrols)
all_controls

[1] 975

## Question 4a
What is the probability that a subject in the highest alcohol consumption group is a cancer case?

In [11]:
head(esoph)

  agegp alcgp     tobgp    ncases ncontrols
1 25-34 0-39g/day 0-9g/day 0      40
2 25-34 0-39g/day 10-19    0      10
3 25-34 0-39g/day 20-29    0       6
4 25-34 0-39g/day 30+      0       5
5 25-34 40-79     0-9g/day 0      27
6 25-34 40-79     10-19    0       7

In [12]:
max(esoph$alcgp)

[1] 120+
Levels: 0-39g/day < 40-79 < 80-119 < 120+

In [27]:
df <- esoph %>% filter(alcgp >= '120+')
df

   agegp alcgp tobgp    ncases ncontrols
1  25-34 120+  0-9g/day 0       1
2  25-34 120+  10-19    1       1
3  25-34 120+  20-29    0       1
4  25-34 120+  30+      0       2
5  35-44 120+  0-9g/day 2       3
6  35-44 120+  10-19    0       3
7  35-44 120+  20-29    2       4
8  45-54 120+  0-9g/day 4       4
9  45-54 120+  10-19    3       4
10 45-54 120+  20-29    2       3
11 45-54 120+  30+      4       4
12 55-64 120+  0-9g/day 5      10
13 55-64 120+  10-19    6       7
14 55-64 120+  20-29    2       3
15 55-64 120+  30+      5       6
16 65-74 120+  0-9g/day 3       4
17 65-74 120+  10-19    1       2
18 65-74 120+  20-29    1       1
19 65-74 120+  30+      1       1
20 75+   120+  0-9g/day 2       2
21 75+   120+  10-19    1       1

In [26]:
sum(df$ncases)/sum(df$ncontrols)

[1] 0.6716418

### Answer

In [30]:
esoph %>%
filter(alcgp == "120+")

   agegp alcgp tobgp    ncases ncontrols
1  25-34 120+  0-9g/day 0       1
2  25-34 120+  10-19    1       1
3  25-34 120+  20-29    0       1
4  25-34 120+  30+      0       2
5  35-44 120+  0-9g/day 2       3
6  35-44 120+  10-19    0       3
7  35-44 120+  20-29    2       4
8  45-54 120+  0-9g/day 4       4
9  45-54 120+  10-19    3       4
10 45-54 120+  20-29    2       3
11 45-54 120+  30+      4       4
12 55-64 120+  0-9g/day 5      10
13 55-64 120+  10-19    6       7
14 55-64 120+  20-29    2       3
15 55-64 120+  30+      5       6
16 65-74 120+  0-9g/day 3       4
17 65-74 120+  10-19    1       2
18 65-74 120+  20-29    1       1
19 65-74 120+  30+      1       1
20 75+   120+  0-9g/day 2       2
21 75+   120+  10-19    1       1

In [31]:
esoph %>%
filter(alcgp == "120+") %>%
summarize(ncases = sum(ncases), ncontrols = sum(ncontrols))

  ncases ncontrols
1 45     67

In [33]:
esoph %>%
filter(alcgp == "120+") %>%
summarize(ncases = sum(ncases), ncontrols = sum(ncontrols)) %>%
mutate(p_case = ncases / (ncases + ncontrols))

  ncases ncontrols p_case
1 45     67        0.4017857

In [34]:
esoph %>%
filter(alcgp == "120+") %>%
summarize(ncases = sum(ncases), ncontrols = sum(ncontrols)) %>%
mutate(p_case = ncases / (ncases + ncontrols)) %>%
pull(p_case)

[1] 0.4017857

## Question 4b
What is the probability that a subject in the lowest alcohol consumption group is a cancer case?

In [36]:
min(esoph$alcgp)

[1] 0-39g/day
Levels: 0-39g/day < 40-79 < 80-119 < 120+

In [37]:
esoph %>% filter(alcgp == "0-39g/day")

   agegp alcgp     tobgp    ncases ncontrols
1  25-34 0-39g/day 0-9g/day 0      40
2  25-34 0-39g/day 10-19    0      10
3  25-34 0-39g/day 20-29    0       6
4  25-34 0-39g/day 30+      0       5
5  35-44 0-39g/day 0-9g/day 0      60
6  35-44 0-39g/day 10-19    1      14
7  35-44 0-39g/day 20-29    0       7
8  35-44 0-39g/day 30+      0       8
9  45-54 0-39g/day 0-9g/day 1      46
10 45-54 0-39g/day 10-19    0      18
11 45-54 0-39g/day 20-29    0      10
12 45-54 0-39g/day 30+      0       4
13 55-64 0-39g/day 0-9g/day 2      49
14 55-64 0-39g/day 10-19    3      22
15 55-64 0-39g/day 20-29    3      12
16 55-64 0-39g/day 30+      4       6
17 65-74 0-39g/day 0-9g/day 5      48
18 65-74 0-39g/day 10-19    4      14
19 65-74 0-39g/day 20-29    2       7
20 65-74 0-39g/day 30+      0       2
21 75+   0-39g/day 0-9g/day 1      18
22 75+   0-39g/day 10-19    2       6
23 75+   0-39g/day 30+      1       3

In [40]:
esoph %>% filter(alcgp == "0-39g/day") %>%
summarize(ncases = sum(ncases), ncontrols = sum(ncontrols))

  ncases ncontrols
1 29     415

In [41]:
esoph %>% filter(alcgp == "0-39g/day") %>%
summarize(ncases = sum(ncases), ncontrols = sum(ncontrols)) %>%
mutate(p_case = ncases/(ncases+ncontrols))

  ncases ncontrols p_case
1 29     415       0.06531532

In [42]:
esoph %>% filter(alcgp == "0-39g/day") %>%
summarize(ncases = sum(ncases), ncontrols = sum(ncontrols)) %>%
mutate(p_case = ncases/(ncases+ncontrols)) %>%
pull(p_case)

[1] 0.06531532

## Question 4c
Given that a person is a case, what is the probability that they smoke 10g or more a day?

In [44]:
# Pr(case) * Pr(smoking a cigarette)

In [47]:
p_case <- sum(esoph$ncases)/(sum(esoph$ncases) + sum(esoph$ncontrols))
p_case

[1] 0.1702128

In [50]:
min(esoph$tobgp)

[1] 0-9g/day
Levels: 0-9g/day < 10-19 < 20-29 < 30+

In [52]:
df <- esoph %>% filter(tobgp != "0-9g/day")
df

   agegp alcgp     tobgp ncases ncontrols
1  25-34 0-39g/day 10-19 0      10
2  25-34 0-39g/day 20-29 0       6
3  25-34 0-39g/day 30+   0       5
4  25-34 40-79     10-19 0       7
5  25-34 40-79     20-29 0       4
6  25-34 40-79     30+   0       7
7  25-34 80-119    10-19 0       1
8  25-34 80-119    30+   0       2
9  25-34 120+      10-19 1       1
10 25-34 120+      20-29 0       1
11 25-34 120+      30+   0       2
12 35-44 0-39g/day 10-19 1      14
13 35-44 0-39g/day 20-29 0       7
14 35-44 0-39g/day 30+   0       8
15 35-44 40-79     10-19 3      23
16 35-44 40-79     20-29 1      14
17 35-44 40-79     30+   0       8
18 35-44 80-119    10-19 0       6
19 35-44 80-119    20-29 0       2
20 35-44 80-119    30+   0       1
21 35-44 120+      10-19 0       3
22 35-44 120+      20-29 2       4
23 45-54 0-39g/day 10-19 0      18
24 45-54 0-39g/day 20-29 0      10
25 45-54 0-39g/day 30+   0       4
26 45-54 40-79     10-19 4      21
27 45-54 40-79     20-29 5      15
28 45-54 40-79     30+   5       7
29 45-54 80-119    10-19 6      14
30 45-54 80-119    20-29 1       5
⋮  ⋮     ⋮         ⋮     ⋮      ⋮
35 55-64 0-39g/day 10-19 3      22
36 55-64 0-39g/day 20-29 3      12
37 55-64 0-39g/day 30+   4       6
38 55-64 40-79     10-19 6      21
39 55-64 40-79     20-29 4      17
40 55-64 40-79     30+   3       6
41 55-64 80-119    10-19 8      15
42 55-64 80-119    20-29 3       6
43 55-64 80-119    30+   4       4
44 55-64 120+      10-19 6       7
45 55-64 120+      20-29 2       3
46 55-64 120+      30+   5       6
47 65-74 0-39g/day 10-19 4      14
48 65-74 0-39g/day 20-29 2       7
49 65-74 0-39g/day 30+   0       2
50 65-74 40-79     10-19 3      10
51 65-74 40-79     20-29 5       9
52 65-74 80-119    10-19 4      12
53 65-74 80-119    20-29 2       3
54 65-74 80-119    30+   1       1
55 65-74 120+      10-19 1       2
56 65-74 120+      20-29 1       1
57 65-74 120+      30+   1       1
58 75+   0-39g/day 10-19 2       6
59 75+   0-39g/day 30+   1       3
60 75+   40-79     10-19 1       3
61 75+   40-79     20-29 0       3
62 75+   40-79     30+   1       1
63 75+   80-119    10-19 1       1
64 75+   120+      10-19 1       1

In [53]:
nrow(df) # Groups smoking more than 10g

[1] 64

In [54]:
nrow(esoph)

[1] 88

In [56]:
# Pr(cig) :=
p_cig <- nrow(df)/nrow(esoph)
p_cig

[1] 0.7272727

In [57]:
#Required answer =:
p_cig*p_case

[1] 0.1237911

### Answer

In [58]:
tob_cases <- esoph %>%
  filter(tobgp != "0-9g/day") %>%
  pull(ncases) %>%
  sum()

tob_cases/all_cases

[1] 0.61

## Question 4d
Given that a person is a control, what is the probability that they smoke 10g or more a day?

In [63]:
tob_cases <- esoph %>%
  filter(tobgp != "0-9g/day") %>%
  pull(ncontrols) %>%
  sum()

tob_cases/all_controls

[1] 0.4615385