In [1]:
install.packages("rafalib")

The downloaded binary packages are in
	/var/folders/4r/qr64vrt52z364sk5wv7jy3yr0000gq/T//RtmpxUEMex/downloaded_packages

In [2]:
library(rafalib)

In [3]:
install.packages("swirl")

also installing the dependencies ‘bitops’, ‘RCurl’

The downloaded binary packages are in
	/var/folders/4r/qr64vrt52z364sk5wv7jy3yr0000gq/T//RtmpxUEMex/downloaded_packages

In [4]:
library(swirl)

| Hi! Type swirl() when you are ready to begin.

In [5]:
swirl()

In [6]:
seq(2.23, 3.45, 1.87, 2.11, 7.33, 18.34, 19.23)

Warning message:
“In seq.default(2.23, 3.45, 1.87, 2.11, 7.33, 18.34, 19.23) :
 extra arguments  will be disregarded”

ERROR: Error in seq.default(2.23, 3.45, 1.87, 2.11, 7.33, 18.34, 19.23): too many arguments

In [7]:
Storage<-numeric(5)

In [27]:
for(i in 1:25) {
    Storage[i]<-i^2
}

In [28]:
sum(Storage)

[1] 5525

In [10]:
x<-c(2.23, 3.45, 1.87, 2.11, 7.33, 18.34, 19.23)

In [11]:
x

[1]  2.23  3.45  1.87  2.11  7.33 18.34 19.23

In [12]:
length(x)

[1] 7

In [14]:
typeof(x[i])

[1] "double"

In [16]:
mean(x)

[1] 7.794286

In [17]:
cars

   speed dist
1   4      2
2   4     10
3   7      4
4   7     22
5   8     16
6   9     10
7  10     18
8  10     26
9  10     34
10 11     17
11 11     28
12 12     14
13 12     20
14 12     24
15 12     28
16 13     26
17 13     34
18 13     34
19 13     46
20 14     26
21 14     36
22 14     60
23 14     80
24 15     20
25 15     26
26 15     54
27 16     32
28 16     40
29 17     32
30 17     40
31 17     50
32 18     42
33 18     56
34 18     76
35 18     84
36 19     36
37 19     46
38 19     68
39 20     32
40 20     48
41 20     52
42 20     56
43 20     64
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

In [18]:
cars.class()

ERROR: Error in cars.class(): could not find function "cars.class"

In [19]:
class(cars)

[1] "data.frame"

In [20]:
length(cars)

[1] 2

In [21]:
nrow(cars)

[1] 50

In [23]:
mean(cars[,2])

[1] 42.98

In [24]:
which(cars[,2] == 85)

[1] 50

In [25]:
cars[50,]

   speed dist
50 25    85

In [29]:
version

               _
platform       x86_64-apple-darwin17.0
arch           x86_64
os             darwin17.0
system         x86_64, darwin17.0
status
major          4
minor          0.2
year           2020
month          06
day            22
svn rev        78730
language       R
version.string R version 4.0.2 (2020-06-22)
nickname       Taking Off Again