In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
dat <- read.csv("dagdata/inst/extdata/femaleMiceWeights.csv")

In [4]:
dat

   Diet Bodyweight
1  chow 21.51
2  chow 28.14
3  chow 24.04
4  chow 23.45
5  chow 23.68
6  chow 19.79
7  chow 28.40
8  chow 20.98
9  chow 22.51
10 chow 20.10
11 chow 26.91
12 chow 26.25
13 hf   25.71
14 hf   26.37
15 hf   22.80
16 hf   25.34
17 hf   24.97
18 hf   28.14
19 hf   29.58
20 hf   30.92
21 hf   34.02
22 hf   21.90
23 hf   31.53
24 hf   20.73

In [10]:
controls <- filter(dat, Diet =="chow")

In [11]:
controls

   Diet Bodyweight
1  chow 21.51
2  chow 28.14
3  chow 24.04
4  chow 23.45
5  chow 23.68
6  chow 19.79
7  chow 28.40
8  chow 20.98
9  chow 22.51
10 chow 20.10
11 chow 26.91
12 chow 26.25

In [12]:
controls <- select(controls, Bodyweight)
controls

   Bodyweight
1  21.51
2  28.14
3  24.04
4  23.45
5  23.68
6  19.79
7  28.40
8  20.98
9  22.51
10 20.10
11 26.91
12 26.25

In [13]:
controls$Bodyweight

 [1] 21.51 28.14 24.04 23.45 23.68 19.79 28.40 20.98 22.51 20.10 26.91 26.25

In [14]:
unlist(controls)

 Bodyweight1  Bodyweight2  Bodyweight3  Bodyweight4  Bodyweight5  Bodyweight6
       21.51        28.14        24.04        23.45        23.68        19.79
 Bodyweight7  Bodyweight8  Bodyweight9 Bodyweight10 Bodyweight11 Bodyweight12
       28.40        20.98        22.51        20.10        26.91        26.25

In [17]:
controls <- filter(dat, Diet == "chow") %>% select(Bodyweight) %>% unlist

In [18]:
controls

 Bodyweight1  Bodyweight2  Bodyweight3  Bodyweight4  Bodyweight5  Bodyweight6
       21.51        28.14        24.04        23.45        23.68        19.79
 Bodyweight7  Bodyweight8  Bodyweight9 Bodyweight10 Bodyweight11 Bodyweight12
       28.40        20.98        22.51        20.10        26.91        26.25

In [19]:
mean(controls)

[1] 23.81333

In [20]:
df <- read.csv("dagdata/inst/extdata/msleep_ggplot2.csv")

In [21]:
class(df)

[1] "data.frame"

In [22]:
df

   name                           genus         vore    order
1  Cheetah                        Acinonyx      carni   Carnivora
2  Owl monkey                     Aotus         omni    Primates
3  Mountain beaver                Aplodontia    herbi   Rodentia
4  Greater short-tailed shrew     Blarina       omni    Soricomorpha
5  Cow                            Bos           herbi   Artiodactyla
6  Three-toed sloth               Bradypus      herbi   Pilosa
7  Northern fur seal              Callorhinus   carni   Carnivora
8  Vesper mouse                   Calomys       NA      Rodentia
9  Dog                            Canis         carni   Carnivora
10 Roe deer                       Capreolus     herbi   Artiodactyla
11 Goat                           Capri         herbi   Artiodactyla
12 Guinea pig                     Cavis         herbi   Rodentia
13 Grivet                         Cercopithecus omni    Primates
14 Chinchilla                     Chinchilla    herbi   Rodentia
15 Star-nosed mole                Condylura     omni    Soricomorpha
16 African giant pouched rat      Cricetomys    omni    Rodentia
17 Lesser short-tailed shrew      Cryptotis     omni    Soricomorpha
18 Long-nosed armadillo           Dasypus       carni   Cingulata
19 Tree hyrax                     Dendrohyrax   herbi   Hyracoidea
20 North American Opossum         Didelphis     omni    Didelphimorphia
21 Asian elephant                 Elephas       herbi   Proboscidea
22 Big brown bat                  Eptesicus     insecti Chiroptera
23 Horse                          Equus         herbi   Perissodactyla
24 Donkey                         Equus         herbi   Perissodactyla
25 European hedgehog              Erinaceus     omni    Erinaceomorpha
26 Patas monkey                   Erythrocebus  omni    Primates
27 Western american chipmunk      Eutamias      herbi   Rodentia
28 Domestic cat                   Felis         carni   Carnivora
29 Galago                         Galago        omni    Primates
30 Giraffe                        Giraffa       herbi   Artiodactyla
⋮  ⋮                              ⋮             ⋮       ⋮
54 Baboon                         Papio         omni    Primates
55 Desert hedgehog                Paraechinus   NA      Erinaceomorpha
56 Potto                          Perodicticus  omni    Primates
57 Deer mouse                     Peromyscus    NA      Rodentia
58 Phalanger                      Phalanger     NA      Diprotodontia
59 Caspian seal                   Phoca         carni   Carnivora
60 Common porpoise                Phocoena      carni   Cetacea
61 Potoroo                        Potorous      herbi   Diprotodontia
62 Giant armadillo                Priodontes    insecti Cingulata
63 Rock hyrax                     Procavia      NA      Hyracoidea
64 Laboratory rat                 Rattus        herbi   Rodentia
65 African striped mouse          Rhabdomys     omni    Rodentia
66 Squirrel monkey                Saimiri       omni    Primates
67 Eastern american mole          Scalopus      insecti Soricomorpha
68 Cotton rat                     Sigmodon      herbi   Rodentia
69 Mole rat                       Spalax        NA      Rodentia
70 Arctic ground squirrel         Spermophilus  herbi   Rodentia
71 Thirteen-lined ground squirrel Spermophilus  herbi   Rodentia
72 Golden-mantled ground squirrel Spermophilus  herbi   Rodentia
73 Musk shrew                     Suncus        NA      Soricomorpha
74 Pig                            Sus           omni    Artiodactyla
75 Short-nosed echidna            Tachyglossus  insecti Monotremata
76 Eastern american chipmunk      Tamias        herbi   Rodentia
77 Brazilian tapir                Tapirus       herbi   Perissodactyla
78 Tenrec                         Tenrec        omni    Afrosoricida
79 Tree shrew                     Tupaia        omni    Scandentia
80 Bottle-nosed dolphin           Tursiops      carni   Cetacea
81 Genet                          Genetta       carni   Carnivora
82 Arctic fox                     Vulpes        carni   Carnivora
83 Red fox                        Vulpes        carni   Carnivora
   conservation sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1  lc           12.1         NA              NA   11.9       NA   50.000
2  NA           17.0        1.8              NA    7.0  0.01550    0.480
3  nt           14.4        2.4              NA    9.6       NA    1.350
4  lc           14.9        2.3       0.1333333    9.1  0.00029    0.019
5  domesticated  4.0        0.7       0.6666667   20.0  0.42300  600.000
6  NA           14.4        2.2       0.7666667    9.6       NA    3.850
7  vu            8.7        1.4       0.3833333   15.3       NA   20.490
8  NA            7.0         NA              NA   17.0       NA    0.045
9  domesticated 10.1        2.9       0.3333333   13.9  0.07000   14.000
10 lc            3.0         NA              NA   21.0  0.09820   14.800
11 lc            5.3        0.6              NA   18.7  0.11500   33.500
12 domesticated  9.4        0.8       0.2166667   14.6  0.00550    0.728
13 lc           10.0        0.7              NA   14.0       NA    4.750
14 domesticated 12.5        1.5       0.1166667   11.5  0.00640    0.420
15 lc           10.3        2.2              NA   13.7  0.00100    0.060
16 NA            8.3        2.0              NA   15.7  0.00660    1.000
17 lc            9.1        1.4       0.1500000   14.9  0.00014    0.005
18 lc           17.4        3.1       0.3833333    6.6  0.01080    3.500
19 lc            5.3        0.5              NA   18.7  0.01230    2.950
20 lc           18.0        4.9       0.3333333    6.0  0.00630    1.700
21 en            3.9         NA              NA   20.1  4.60300 2547.000
22 lc           19.7        3.9       0.1166667    4.3  0.00030    0.023
23 domesticated  2.9        0.6       1.0000000   21.1  0.65500  521.000
24 domesticated  3.1        0.4              NA   20.9  0.41900  187.000
25 lc           10.1        3.5       0.2833333   13.9  0.00350    0.770
26 lc           10.9        1.1              NA   13.1  0.11500   10.000
27 NA           14.9         NA              NA    9.1       NA    0.071
28 domesticated 12.5        3.2       0.4166667   11.5  0.02560    3.300
29 NA            9.8        1.1       0.5500000   14.2  0.00500    0.200
30 cd            1.9        0.4              NA   22.1       NA  899.995
⋮  ⋮            ⋮           ⋮         ⋮           ⋮     ⋮       ⋮
54 NA            9.4        1.0       0.6666667   14.60 0.18000  25.235
55 lc           10.3        2.7              NA   13.70 0.00240   0.550
56 lc           11.0         NA              NA   13.00      NA   1.100
57 NA           11.5         NA              NA   12.50      NA   0.021
58 NA           13.7        1.8              NA   10.30 0.01140   1.620
59 vu            3.5        0.4              NA   20.50      NA  86.000
60 vu            5.6         NA              NA   18.45      NA  53.180
61 NA           11.1        1.5              NA   12.90      NA   1.100
62 en           18.1        6.1              NA    5.90 0.08100  60.000
63 lc            5.4        0.5              NA   18.60 0.02100   3.600
64 lc           13.0        2.4       0.1833333   11.00 0.00190   0.320
65 NA            8.7         NA              NA   15.30      NA   0.044
66 NA            9.6        1.4              NA   14.40 0.02000   0.743
67 lc            8.4        2.1       0.1666667   15.60 0.00120   0.075
68 NA           11.3        1.1       0.1500000   12.70 0.00118   0.148
69 NA           10.6        2.4              NA   13.40 0.00300   0.122
70 lc           16.6         NA              NA    7.40 0.00570   0.920
71 lc           13.8        3.4       0.2166667   10.20 0.00400   0.101
72 lc           15.9        3.0              NA    8.10      NA   0.205
73 NA           12.8        2.0       0.1833333   11.20 0.00033   0.048
74 domesticated  9.1        2.4       0.5000000   14.90 0.18000  86.250
75 NA            8.6         NA              NA   15.40 0.02500   4.500
76 NA           15.8         NA              NA    8.20      NA   0.112
77 vu            4.4        1.0       0.9000000   19.60 0.16900 207.501
78 NA           15.6        2.3              NA    8.40 0.00260   0.900
79 NA            8.9        2.6       0.2333333   15.10 0.00250   0.104
80 NA            5.2         NA              NA   18.80      NA 173.330
81 NA            6.3        1.3              NA   17.70 0.01750   2.000
82 NA           12.5         NA              NA   11.50 0.04450   3.380
83 NA            9.8        2.4       0.3500000   14.20 0.05040   4.230

In [28]:
filter(df, order=="Primates")

   name            genus         vore  order    conservation sleep_total
1  Owl monkey      Aotus         omni  Primates NA           17.0
2  Grivet          Cercopithecus omni  Primates lc           10.0
3  Patas monkey    Erythrocebus  omni  Primates lc           10.9
4  Galago          Galago        omni  Primates NA            9.8
5  Human           Homo          omni  Primates NA            8.0
6  Mongoose lemur  Lemur         herbi Primates vu            9.5
7  Macaque         Macaca        omni  Primates NA           10.1
8  Slow loris      Nyctibeus     carni Primates NA           11.0
9  Chimpanzee      Pan           omni  Primates NA            9.7
10 Baboon          Papio         omni  Primates NA            9.4
11 Potto           Perodicticus  omni  Primates lc           11.0
12 Squirrel monkey Saimiri       omni  Primates NA            9.6
   sleep_rem sleep_cycle awake brainwt bodywt
1  1.8              NA    7.0  0.0155   0.480
2  0.7              NA   14.0      NA   4.750
3  1.1              NA   13.1  0.1150  10.000
4  1.1       0.5500000   14.2  0.0050   0.200
5  1.9       1.5000000   16.0  1.3200  62.000
6  0.9              NA   14.5      NA   1.670
7  1.2       0.7500000   13.9  0.1790   6.800
8   NA              NA   13.0  0.0125   1.400
9  1.4       1.4166667   14.3  0.4400  52.200
10 1.0       0.6666667   14.6  0.1800  25.235
11  NA              NA   13.0      NA   1.100
12 1.4              NA   14.4  0.0200   0.743

In [29]:
nrow(filter(df, order=="Primates"))

[1] 12

In [31]:
class(filter(df, order=="Primates"))

[1] "data.frame"

In [32]:
filter(df, order=="Primates") %>% select(sleep_total)

   sleep_total
1  17.0
2  10.0
3  10.9
4   9.8
5   8.0
6   9.5
7  10.1
8  11.0
9   9.7
10  9.4
11 11.0
12  9.6

In [33]:
class(filter(df, order=="Primates") %>% select(sleep_total))

[1] "data.frame"

In [35]:
filter(df, order=="Primates") %>% select(sleep_total) %>% unlist %>% mean()

[1] 10.5

In [36]:
?summarize

summarise                package:dplyr                 R Documentation

_S_u_m_m_a_r_i_s_e _e_a_c_h _g_r_o_u_p _t_o _f_e_w_e_r _r_o_w_s

_D_e_s_c_r_i_p_t_i_o_n:

     ‘summarise()’ creates a new data frame. It will have one (or more)
     rows for each combination of grouping variables; if there are no
     grouping variables, the output will have a single row summarising
     all observations in the input. It will contain one column for each
     grouping variable and one column for each of the summary
     statistics that you have specified.

     ‘summarise()’ and ‘summarize()’ are synonyms.

_U_s_a_g_e:

     summarise(.data, ..., .groups = NULL)

     summarize(.data, ..., .groups = NULL)

_A_r_g_u_m_e_n_t_s:

   .data: A data frame, data frame extension (e.g. a tibble), or a lazy
          data frame (e.g. from dbplyr or dtplyr). See _Methods_,
          below, for more details.

     ...: <‘data-masking’> Name-value pairs of summary functions. The
          name will be the name of the variable in the result.

          The value can be:

            • A vector of length 1, e.g. ‘min(x)’, ‘n()’, or
              ‘sum(is.na(y))’.

            • A vector of length ‘n’, e.g. ‘quantile()’.

            • A data frame, to add multiple columns from a single
              expression.

 .groups: *Experimental* Grouping structure of the result.

            • "drop_last": dropping the last level of grouping. This
              was the only supported option before version 1.0.0.

            • "drop": All levels of grouping are dropped.

            • "keep": Same grouping structure as ‘.data’.

            • "rowwise": Each row is it's own group.

          When ‘.groups’ is not specified, you either get "drop_last"
          when all the results are size 1, or "keep" if the size
          varies. In addition, a message informs you of that choice,
          unless the option "dplyr.summarise.inform" is set to ‘FALSE’.

_V_a_l_u_e:

     An object _usually_ of the same type as ‘.data’.

        • The rows come from the underlying ‘group_keys()’.

        • The columns are a combination of the grouping keys and the
          summary expressions that you provide.

        • The grouping structure is controlled by the .groups=
          argument, the output may be another grouped_df, a tibble or a
          rowwise data frame.

        • Data frame attributes are *not* preserved, because
          ‘summarise()’ fundamentally creates a new data frame.

_U_s_e_f_u_l _f_u_n_c_t_i_o_n_s:

        • Center: ‘mean()’, ‘median()’

        • Spread: ‘sd()’, ‘IQR()’, ‘mad()’

        • Range: ‘min()’, ‘max()’, ‘quantile()’

        • Position: ‘first()’, ‘last()’, ‘nth()’,

        • Count: ‘n()’, ‘n_distinct()’

        • Logical: ‘any()’, ‘all()’

_B_a_c_k_e_n_d _v_a_r_i_a_t_i_o_n_s:

     The data frame backend supports creating a variable and using it
     in the same summary. This means that previously created summary
     variables can be further transformed or combined within the
     summary, as in ‘mutate()’. However, it also means that summary
     variables with the same names as previous variables overwrite
     them, making those variables unavailable to later summary
     variables.

     This behaviour may not be supported in other backends. To avoid
     unexpected results, consider using new names for your summary
     variables, especially when creating multiple summaries.

_M_e_t_h_o_d_s:

     This function is a *generic*, which means that packages can
     provide implementations (methods) for other classes. See the
     documentation of individual methods for extra arguments and
     differences in behaviour.

     The following methods are currently available in loaded packages:
     dplyr (‘data.frame’, ‘default’, ‘grouped_df’, ‘rowwise_df’).

_S_e_e _A_l_s_o:

     Other single table verbs: ‘arrange()’, ‘filter()’, ‘mutate()’,
     ‘rename()’, ‘select()’, ‘slice()’

_E_x_a_m_p_l_e_s:

     # A summary applied to ungrouped tbl returns a single row
     mtcars %>%
       summarise(mean = mean(disp), n = n())

     # Usually, you'll want to group first
     mtcars %>%
       group_by(cyl) %>%
       summarise(mean = mean(disp), n = n())

     # dplyr 1.0.0 allows to summarise to more than one value:
     mtcars %>%
        group_by(cyl) %>%
        summarise(qs = quantile(disp, c(0.25, 0.75)), prob = c(0.25, 0.75))

     # You use a data frame to create multiple columns so you can wrap
     # this up into a function:
     my_quantile <- function(x, probs) {
       tibble(x = quantile(x, probs), probs = probs)
     }
     mtcars %>%
       group_by(cyl) %>%
       summarise(my_quantile(disp, c(0.25, 0.75)))

     # Each summary call removes one grouping level (since that group
     # is now just a single row)
     mtcars %>%
       group_by(cyl, vs) %>%
       summarise(cyl_n = n()) %>%
       group_vars()

     # BEWARE: reusing variables may lead to unexpected results
     mtcars %>%
       group_by(cyl) %>%
       summarise(disp = mean(disp), sd = sd(disp))

     # Refer to column names stored as strings with the `.data` pronoun:
     var <- "mass"
     summarise(starwars, avg = mean(.data[[var]], na.rm = TRUE))
     # Learn more in ?dplyr_data_masking

In [40]:
primates <- filter(df, order=="Primates")

In [49]:
summarise(primates, mean=mean(sleep_total))[1,]

[1] 10.5